.App {
  text-align: center;
}
.Auth{
  margin-top: 10%;
}
.Auth input{
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: #f4efef;
}
.Auth button{
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
    padding-bottom: 15px;

} 
